<div id="container" >

  <md-content class="content md-padding">
    <md-card ng-class="cssCard">
    <div compile>
      <div layout="row" layout-align="space-around center">
        <div id="div0" flex class="editImage" ><img ng-src="{{dspPhotos[0]}}" alt="horse"></div>
        <div id="div1" flex class="editImage" ><img ng-src="{{dspPhotos[1]}}" alt="horse"></div>
        <div id="div2" flex class="editImage" ><img ng-src="{{dspPhotos[2]}}" alt="horse"></div>
      </div>
        
      <div layout="row" layout-align="space-around center">
        <div id="div3" flex class="editImage" ><img ng-src="{{dspPhotos[3]}}" alt="horse"></div>
        <div id="div4" flex class="editImage" ><img ng-src="{{dspPhotos[4]}}" alt="horse"></div>
        <div id="div5" flex class="editImage" ><img ng-src="{{dspPhotos[5]}}" alt="horse"></div>
      </div>
    </div>
      <md-card-content class="cardContent">
        <h2 class="displayName md-headline">{{horse.name}}<span class="spanAge"> is {{horse.age}} years old.</span></h2>
        <div>
          <p>{{horse.distance}} away! Active {{horse.lastSeen}} ago.</p>
          <p>{{horse.bio}}</p>
        </div>
      </md-card-content>
    </md-card>
    <md-button ng-click="signout()" class="md-raised md-warn">Sign out</md-button>
  </md-content>
  
  <div style="color:red;" ng-if="user.uploadError">{{user.uploadError}}</div>
</div>

