<div id="container" ng-if="userAuthenticated()">
  <md-content class="content md-padding">
    
    <md-card ng-class="cssCard" ng-show="card">
      <img ng-src="{{horse.pictures.picture_one}}" ng-click="showDetails()" class="md-card-image" alt="horse">
      <md-card-content class="cardContent">
        <h2 class="displayName md-headline">{{horse.name}}<span class="spanAge"> is {{horse.age}} years old.</span></h2>
        <div ng-show="details">
          <p>{{horse.distance}} away! Active {{horse.lastSeen}} ago.</p>
          <p>{{horse.bio}}</p>
        </div>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="space-around center">
        <md-button ng-click="cssCard='dislike'; dislike(horse);">UGLY..</md-button>
        <md-button ng-click="cssCard='like'; like(horse);">SHIT YEAH!</md-button>
      </div>
    </md-card>
    <md-button ng-click="signout()" class="md-raised md-warn">Sign out</md-button>
  </md-content>

</div>