<div id="container">
  <md-content ng-if="!userAuthenticated() && !showLogInForm" class="content md-padding">  
    <md-card>
      <md-card-content>
        <form ng-submit="register()">
          <span>{{error_message}}</span>
          <div class="regForm" layout="column">
            <h2 class="md-title" style="color: #3f51b5" layout layout-align="center">Register</h2>
            <md-input-container class="md-icon-float">
              <label name="name">Username</label>
              <md-icon style="fill: #3f51b5" md-svg-src="images/icons/account.svg"></md-icon>
              <input ng-model="regHorse.username" type="text" required>
            </md-input-container>
            <md-input-container class="md-icon-float">
              <label style="fill: #3f51b5">Password</label>
              <md-icon style="fill: #3f51b5" md-svg-src="images/icons/key.svg"></md-icon>
              <input ng-model="regHorse.password" type="password" required>
            </md-input-container>
            <span style="color: #f00; padding: .25em 0px;">{{error_birthday}}</span>
            <md-input-container class="md-icon-float">
              <label style="fill: #3f51b5">Birth Date</label>
              <md-icon style="fill: #3f51b5" md-svg-src="images/icons/cake.svg"></md-icon>
              <input ng-model="regHorse.birthday" type="date" required>
            </md-input-container>

            <md-input-container layout="row" >
              <ng-md-icon flex-order="1" icon="accessibility" style="fill: #3f51b5" size="2.5em"></ng-md-icon>
              <md-select required flex-order="2" flex style="color: #656565" placeholder="Gender" ng-model="regHorse.gender">
                <md-option value="male">Male</md-option>
                <md-option value="female">Female</md-option>
              </md-select>
            </md-input-container>

          </div>
          <md-button type="submit" class="md-raised md-primary">Register</md-button>
          <a class="pointer" ng-click="changeForm(true)">Already have an account, Log In!</a>
        </form>
      </md-card-content>
    </md-card>
  </md-content>

  <md-content ng-if="!userAuthenticated() && showLogInForm" class="content md-padding">  
    <md-card>
      <md-card-content>
        <form ng-submit="logIn()">
          <span>{{error_message}}</span>
          <div class="logForm" layout="column">
            <h2 class="md-title" style="color: #3f51b5" layout layout-align="center">Log In</h2>
            <md-input-container class="md-icon-float">
              <label name="name">Username</label>
              <md-icon style="fill: #3f51b5" md-svg-src="images/icons/account.svg"></md-icon>
              <input required ng-model="logHorse.username">
            </md-input-container>
            <md-input-container class="md-icon-float">
              <label style="fill: #3f51b5">Password</label>
              <md-icon style="fill: #3f51b5" md-svg-src="images/icons/key.svg"></md-icon>
              <input required ng-model="logHorse.password" type="password">
            </md-input-container>
          </div>
          <md-button type="submit" class="md-raised md-primary">Log In</md-button>
          <a class="pointer" ng-click="changeForm(false)">Don't have an account, Sign Up!</a>
        </form>
      </md-card-content>
    </md-card>
  </md-content>
</div>